body {
  background-color: $bg-color;
}

.calend {
  position: relative;
  margin: 25px;
  padding: 25px;
  width: 400px;
  height: 420px;
  border-radius: $main-radius;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border: 1px solid #ccc;
  &--bgc {
    background-color: $white;
  }
  &__month {
    &--flex {
      display: flex;
      justify-content: center;
    }
  }
  &__weeks {
    margin-top: 15px;
    margin-bottom: 15px;
    &--flex {
      display: flex;
    }
  }
  &__days {
    &--flex {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.weeks {
  &__eq {
    &--size {
      width: 14.5%;
    }
    &--center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--color {
      color: $week;
    }
  }
}

.day {
  &__eq {
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    margin-top: 3px;
    &--size {
      height: 50px;
    }
    &--prol {
      background-color: $prolong;
    }
    &--active {
      color: $white;
      border-radius: 0;
      &:after {
        content: "";
        position: absolute;
        width: 13%;
        height: 12%;
        border-radius: 50%;
        background-color: $active;
      }
    }
    &--disable {
      color: $disable;
    }
    &---end-right {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    &---end-left {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
  }
}

.eq {
  &__span {/*
    position: relative;
    z-index: 1;*/
  }
}
