* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

///////////////// mixins
@mixin square-size($wh) {
  width: $wh;
  height: $wh;
}

//////////////////////

///////////////// variables
$main-radius: 6px;

$bg-color: #0080ff;
$disable: #ccc;
$active: #1665D8;
$prolong: #b9d0f3;
$week: #999999;

$white: #fff;
$black: #000;
///////////////////////////////// end variables

body {
  background-color: $bg-color;
  font-family: 'Roboto', sans-serif;
}

.calend {
  position: relative;
  &--aligm {
    margin: 25px;
    padding: 25px;
  }
  &--size {
    width: 400px;
    height: 420px;
  }
  &--bgc {
    background-color: $white;
  }
  &--radius {
    border-radius: $main-radius;
  }
  &--dop:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $main-radius;
    border: 1px solid;
    opacity: .2;
  }
  &__month {
    &--flex {
      display: flex;
      justify-content: center;
    }
  }
  &__weeks {
    &--flex {
      display: flex;
    }
    &--margin {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  &__days {
    &--flex {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.weeks {
  &__eq {
    &--size {
      @include square-size(50px);
    }
    &--center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--color {
      color: $week;
    }
  }
}

.days {
  &__eq {
    margin-bottom: 3px;
    margin-top: 3px;
    &--size {
      @include square-size(50px);
    }
    &--prol {
      background-color: $prolong;
    }
    &--center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--active {
      color: $white;
      &:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $active;
      }
    }

    &--disable {
      color: $disable;
    }
    &--end-right {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    &--end-left {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
  }
}

.eq {
  &__span {
    position: relative;
    z-index: 1;
  }
}
