* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

///////////////// mixins
@mixin square-size($wh) {
  width: $wh;
  height: $wh;
}

//////////////////////

///////////////// variables
$main-radius: 6px;

$bg-color: #0080ff;
$disable: #ccс;
$active: #1665D8;
$prolong: #b9d0f3;
$week: #999999;

$white: #fff;
$black: #000;
///////////////////////////////// end variables

body {
  background-color: $bg-color;
}

.calend {
  position: relative;
  margin: 25px;
  padding: 25px;
  width: 400px;
  height: 420px;
  border-radius: $main-radius;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border: 1px solid #ccc;
  &--bgc {
    background-color: $white;
  }
  &__month {
    &--flex {
      display: flex;
      justify-content: center;
    }
  }
  &__weeks {
    &--flex {
      display: flex;
    }
    &--margin {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  &__days {
    &--flex {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.weeks {
  &__eq {
    &--size {
      width: 14.5%;
    }
    &--center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--color {
      color: $week;
    }
  }
}

.day {
  &__eq {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    margin-top: 3px;
    &--size {
      width: 14%;
      height: 50px;
    }
    &--prol {
      background-color: $prolong;

    }
    &--active {
      color: $white;
      border-radius: 0;
      &:after {
        content: "";
        position: absolute;
        width: 13%;
        height: 12%;
        border-radius: 50%;
        background-color: $active;
      }
    }

    &--disable {
      color: $disable;
    }
    &---end-right {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    &---end-left {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
  }
}

.eq {
  &__span {
    position: relative;
    z-index: 1;
  }
}
